@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

$color: lightgrey;

body {
  background: $color;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.wrapper {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}

#app {
  display: grid;
  background: lightcyan;
}